In [1]:
# 1
print(" Hello World")

 Hello World

In [2]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 3 
print('신씨가 소리 질렀다. "도둑이야"')

신씨가 소리 질렀다. "도둑이야"

In [5]:
# 4
print("C:\\Windows")

C:\Windows

In [6]:
# 5
print("안녕하세요. \n만나서\t\t반갑습니다")

안녕하세요.
만나서		반갑습니다

In [7]:

# 6
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [8]:
# 7
print("naever/kakao/sk/samsung")

naever/kakao/sk/samsung

In [12]:
# 8
print("first",end = "");print("second")

firstsecond

In [13]:
# 9
print(5/3)

1.6666666666666667

In [15]:
# 11
samsung = 50000

print("삼성전자 주식 10주 평가 금액:", samsung * 10)

삼성전자 주식 10주 평가 금액: 500000

In [16]:
# 12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [18]:
# 13
s = "hello"
t = "python"

print(s+"!",t)

hello! python

In [20]:
# 16
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [1]:
# 17
num = 100
str_ = str(num)
print(str_, type(str_))

100 <class 'str'>

In [2]:
# 18
num = "15.79"
Floa = float(num)
print(Floa, type(Floa))

15.79 <class 'float'>

In [3]:
# 19
year = "2020"
current = int(year)
print(current-2,current-1,current)

2018 2019 2020

In [4]:
# 20
air = 48584
month = 36
print(air*month)

1749024

In [7]:
# 21
letters = 'python'
print(letters[0], letters[2])

p t

In [10]:
# 22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [11]:
# 23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [14]:
# 24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [15]:
# 25
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

In [16]:
# 26
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

01011112222

In [17]:
# 27
url = "http://sharebook.kr"
url_ = url.split('.')
print(url_[-1])

kr

In [ ]:
# 28

In [2]:
# 33
print('-'*80)

--------------------------------------------------------------------------------

In [8]:
# 34
t1 = 'python'
t2 = 'java'
print((t1+' '+' '+t2+' ')*4,)

python  java python  java python  java python  java

In [10]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))

이름: 김민수 나이: 10

In [11]:
# 36
print("이름: {} 나이: {}".format(name1,age1))

이름: 김민수 나이: 10

In [12]:
# 37
print(f"이름: {name1} 나이: {age1}")

이름: 김민수 나이: 10

In [17]:
# 38
상장주식수 = "5,969,782,550"
머머 = list(map(int,상장주식수.split(',')))
print(머머)
컴마제거 = 상장주식수.replace(',','')
타입변환 = int(컴마제거)
print(타입변환)

[5, 969, 782, 550]
5969782550

In [18]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [20]:
# 40
data = "    삼성전자    "
print(data.strip())

삼성전자

In [21]:
# 41
ticker = 'btc_krw'
print(ticker.upper())

BTC_KRW

In [22]:
# 42
ticker = "BTC_BRW"
print(ticker.lower())

btc_brw

In [23]:
# 43
hello = "hello"
print(hello.upper())

HELLO

In [29]:
# 44
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

In [32]:
# 45
file_name.endswith(("xlsx", "xls"))

True

In [34]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [33]:
# 47
a = "hello world"
A = a.split()
print(A)

['hello', 'world']

In [35]:
# 48
ticker = "btc_krw"

ticker_split = ticker.split("_")
print(ticker_split)

['btc', 'krw']

In [4]:
# 49
data = "2020-05-01"
data_ = list(map(int,data.split('-')))
print(data_)
year = data_[0]
month = data_[1]
day = data_[2]
print(year,month,day)

[2020, 5, 1]
2020 5 1

In [5]:
# 50
data = "039490       "
print(data.rstrip())

039490

In [1]:
# 51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [3]:
# 52
movie_rank += ["배트맨"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배', '트', '맨', '배트맨']

In [5]:
# 53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [6]:
# 54
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [8]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '스플릿', '배트맨']

In [11]:
# 55
movie_rank = ['닥터 스트레인지', '스플릿', '슈퍼맨', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [12]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [13]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]

print(f"max: {max(nums)}")
print(f"min: {min(nums)}")

max: 7
min: 1

In [14]:
# 58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [15]:
# 59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [17]:
# 60
nums = [1, 2, 3, 4, 5]
average = sum(nums)/len(nums)
print(average)

3.0

In [18]:
# 61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [19]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [20]:
# 63
print(nums[1::2])

[2, 4, 6, 8, 10]

In [21]:
# 64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [23]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [25]:
# 66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [26]:
# 67
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [27]:
# 68
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [28]:
# 69
string = "삼성전자/LG전자/Naver"
string_split = string.split('/')
print(string_split)

['삼성전자', 'LG전자', 'Naver']

In [33]:
# 70
data = [2, 4, 3, 1, 5, 10, 9]
print(sorted(data, reverse = True))

[10, 9, 5, 4, 3, 2, 1]

In [34]:
# 71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [35]:
# 72
movie_rank = ('닥터', '스플릿', '럭키')

In [37]:
# 73
tuple_1 = (1, )
print(type(tuple_1))

<class 'tuple'>

In [38]:
# 75
t = 1,2,3,4
print(type(t))

<class 'tuple'>

In [39]:
# 76
t = ('A','b','c')
print(t)

('A', 'b', 'c')

In [40]:
# 77
interest = ('삼성전자', 'LG전자', 'SK')
list_ = list(interest)
print(list_)

['삼성전자', 'LG전자', 'SK']

In [42]:
# 78
interest = ['삼성', 'LG', 'SK']
tu = tuple(interest)
print(tu)

('삼성', 'LG', 'SK')

In [43]:
# 79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [45]:
# 80
num_2 = tuple(range(2,100,2))
print(num_2)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [47]:
# 81
a, b, *c = (0,1,2,3,4,5,6)
print(a)
print(b)
print(c)

0
1
[2, 3, 4, 5, 6]

In [49]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_scores , _,_ = scores
print(valid_scores)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [50]:
# 82
_,_,*valid_scores = scores
print(valid_scores)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [51]:
# 83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [52]:
# 84
temp = {}
print(type(temp))

<class 'dict'>

In [53]:
# 85
ice = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [55]:
# 86
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [56]:
# 87
print(ice["메로나"])

1000

In [57]:
# 88
ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [58]:
# 89
del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [59]:
# 91
inventory = {"메로나":[300,20], "비비빅":[400,3], "죠스바":[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [61]:
# 92
print(inventory["메로나"][0],"원")

300 원

In [62]:
# 93
print(inventory["메로나"][1],"개")

20 개

In [63]:
# 94
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [68]:
# 95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_name = list(icecream.keys())
print(ice_name)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [69]:
# 96
ice_price = list(icecream.values())
print(ice_price)

[1200, 1200, 1800, 1500, 1000]

In [74]:
# 97
print(sum(ice_price))

6700

In [77]:
# 98
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [1]:
# 99
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [2]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [3]:
# 111
hi = input()
print(hi*2)

hihi

In [4]:
# 112
num = int(input())
print(num+10)

40

In [2]:
# 113
num = int(input())
if num%2 == 0:
  print("짝수")
else:
  print("홀수")

홀수

In [4]:
# 114
num = int(input())
num1 = num + 20
if num1 > 255:
  print(255)
else:
  print(num1)

255

In [8]:
# 115
user = int(input())
num = user - 20
if num < 0:
  print(0)
elif num > 255:
  print(255)
else:
  print(num)

255

In [13]:
# 116
clock = input("")
if clock[-2:] == "00":
  print("정각")
else:
  print("정각x")

정각x

In [15]:
# 117
fruit = ["사과", "포도", "홍시"]
like_fruit = input("좋아하는 과일은?")

if like_fruit in fruit:
  print("정답")
else:
  print("오답")

오답

In [18]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
investment = input()
if investment in warn_investment_list:
  print("투자 경고")
else:
  print("투자 경고 종목x")

투자 경고 종목x

In [23]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()

if user in fruit:
  print("o")
else:
  print("x")

x

In [27]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input()
fruit_values = fruit.values()
print(fruit_values)
if user in fruit.values():
  print("o")
else:
  print("x")

dict_values(['딸기', '토마토', '사과'])
x

In [30]:
# 121
word = input()
if word.islower():
  print(word.upper())
else:
  print(word.lower())

i

In [35]:
# 122
grade = int(input())
if grade >= 81:
  print("A")
elif grade >= 61:
  print("B")
elif grade >= 41:
  print("C")
elif grade >= 21:
  print("D")
else:
  print("E")

E

In [38]:
# 123
cash = input()
cash_ = list(cash.split())
if cash_[1] == "달러":
  print(int(cash_[0])*1167,'원')
elif cash_[1] == "엔":
  print(int(cash_[0])*1.096,'원')
elif cash_[1] == "유로":
  print(int(cash_[0])*1268,'원')
elif cash_[1] == "위안":
  print(int(cash_[0])*171,'원')
else:
  print("잘못 입력")

잘못 입력

In [41]:
cash, won = input().split()
cash_ = int(cash)
if won == "달러":
  print(cash_*1167,'원')
elif won == "엔":
  print(cash_*1.096,'원')
elif won == "유로":
  print(cash_*1268,'원')
elif won == "위안":
  print(cash_*171,'원')
else:
  print("잘못 입력")

100 달러
116700 원

In [43]:
# 124
num1 = int(input())
num2 = int(input())
num3 = int(input())

print(max(num1, num2, num3))

20

In [47]:
# 125
phone = input()
phone_ = phone.split('-')[0]
if phone_ == "011":
  print("skt")
elif phone_ == "016":
  print("kt")
elif phone_ == "019":
  print("lgu")
else:
  print("알수없음")

kt

In [62]:
# 126
address = input()
address_ = address[2]
if address_ == "0" or address_ == "1" or address_ == "2":
  print("강북구")
elif address_ == "3" or address_ == "4" or address_ == "5":
  print("도봉구")
else:
  print("노원구")

도봉구

In [61]:
# 127
people = input()
num = people.split('-')[1]
num_ = num[0]
print(num_)
if num_=='1' or num_=='3':
  print('man')
elif num_=='2' or num_=='4':
  print("woman")
else:
  print("잘못 입력")

1
man

In [64]:
# 127
people = input()
num = people.split('-')[1]
num_ = num[0]
print(num_)
if num_ in ['1','3']:
  print('man')
elif num_ in ['2','4']:
  print("woman")
else:
  print("잘못 입력")

1
man

In [67]:
# 128
born = input()
num = born.split('-')[1]
num_ = num[1:3]
print(num_)
if num_ in ['00','01','02','03','04','05','06','07','08']:
  print('서울')
elif num_ in ['09','10','11','12']:
  print("부산")
else:
  print("잘못 입력")

04
서울

In [69]:
# 128
born = input()
num = born.split('-')[1]
num_ = num[1:3]
print(num_)
if 0 <= int(num_) <= 8:
  print('서울')
elif 9 <= int(num_) <= 12:
  print("부산")
else:
  print("잘못 입력")

12
부산

In [81]:
# 129
born = input()
num1,num2 = list(born.split('-'))
check1 = (int(num1[0])*2 + int(num1[1])*3 + int(num1[2])*4 + int(num1[3])*5 + int(num1[4])*6 
          + int(num1[5])*7 + int(num2[0])*8 + int(num2[1])*9 + int(num2[2])*2 + int(num2[3])*3 
          + int(num2[4])*4 + int(num2[5])*5)%11
check2 = 11-check1
print(check1,check2)
if check2 == int(num2[-1]):
  print("유효")
else:
  print("유효하지 않음")

8 3
유효

In [80]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

유효한 주민등록번호입니다.

In [1]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
# 132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
# 133

In [3]:
# 136
num = [10, 20, 30]
for i in num:
  print(i)

10
20
30

In [5]:
# 137
for i in range(1,4):
  print(i*10)

10
20
30

In [6]:
# 138
for i in range(1,4):
  print(i*10)
  print('-'*8)

10
--------
20
--------
30
--------

In [7]:
# 140
for i in range(4):
  print("-"*8)

--------
--------
--------
--------

In [9]:
# 141
리스트 = [100, 200, 300]
for i in 리스트:
  print(i+10)

110
210
310

In [10]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print(f"오늘의 메뉴: {i}")

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [11]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

6
4
4

In [13]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i,len(i))

dog 3
cat 3
parrot 6

In [14]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [15]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
  print(f"3 x {i}")

3 x 1
3 x 2
3 x 3

In [16]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
  print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [18]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in range(1,4):
  print(리스트[i])

나
다
라

In [2]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in range(0,3,2):
  print(리스트[i])

가
다

In [4]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
  print(i)

가
다

In [8]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
  print(i)

라
다
나
가

In [9]:
# 151
리스트 = [3, -20, -3, 44]
for i in 리스트:
  if i < 0:
    print(i)

-20
-3

In [11]:
# 152
리스트 = [3, 100, 33, 44]
for i in 리스트:
  if i%3 == 0:
    print(i)

3
33

In [14]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i in  리스트:
  if i < 20 and i%3 == 0:
   print(i)

12
18

In [15]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
  if len(i) > 3:
    print(i)

study
python
language

In [16]:
# 155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.isupper():
    print(i)

A
D

In [17]:
# 156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.islower():
    print(i)

b
c

In [20]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [21]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
  i = i.split('.')
  print(i[0])

hello
ex01
intro

In [22]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  if '.h' in i:
    print(i)

intra.h
define.h

In [23]:
# 160
for i in 리스트:
  if '.h' in i or '.c' in i:
    print(i)

intra.h
intra.c
define.h

In [25]:
# 161
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [26]:
# 162
for i in range(2002,2051,4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [28]:
# 163
for i in range(1,31):
  if i%3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [30]:
for i in range(3,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [33]:
# 164
for i in range(100):
  print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [35]:
# 165
for i in range(10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [36]:
# 166
for i in range(1,10):
  print(f"3*{i} = {3*i}")

3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27

In [37]:
# 167
for i in range(1,10,2):
  print(f"3*{i} = {3*i}")

3*1 = 3
3*3 = 9
3*5 = 15
3*7 = 21
3*9 = 27

In [38]:
# 168
sum = 0
for i in range(1,11):
  sum += i
print(sum)

55

In [39]:
# 169
sum = 0
for i in range(1,10,2):
  sum += i
print(sum)

25

In [40]:
# 170
mul = 1
for i in range(1,11):
  mul *= i
print(mul)

3628800

In [41]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
  print(i)

32100
32150
32000
32500

In [42]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
  print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [45]:
# 173
for i in range(4):
  print(3-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [46]:
# 174
for i in range(1,4):
  print(100*i,price_list[i])

100 32150
200 32000
300 32500

In [48]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
  print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [51]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
  print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [52]:
# 177
for i in range(len(my_list)-1):
  print(my_list[len(my_list)-1-i],my_list[len(my_list)-i-2])

마 라
라 다
다 나
나 가

In [53]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
  print(my_list[i+1]-my_list[i])

100
200
400

In [55]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [56]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility =[]
for i in range(len(low_prices)):
  volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]